/* === Default CSS === */

/* Body */
body { margin: 1em 2em } /* %1 */
@media screen and (max-aspect-ratio: .75) and (max-width: 13cm) { /* Mobile */
    body { max-width: 100% }
    body:not(.raw) { margin: 0.5em 0.5em } /* must be after the rule %1 */
}

/* Blog */
body.blog { max-width: 760px; margin: 0 auto }
body.blog #table-of-contents > *:first-child { display: none }
body.blog #table-of-contents ul ul { display: none }

body.blog figure { text-align: center }
body.blog figure img { width: 400px }

body.blog pre  { font-size: 90%; background: #eee; padding: 10px }
body.blog code { font-size: 90%; background: #eee; padding: 2px 5px }

body.blog summary { color: blue; text-decoration: underline }
body.blog details:not([open]) summary:hover { background: blue; color: white }
body.blog details[open] summary { color: purple }
body.blog details[open] summary:hover { background: purple; color: white }

/* Header */
header { display: flex; background: #333; color: #ddd; padding: .15em 1em }
#header-left  { flex: 1 }
#header-right { flex: 1; text-align: right }
header a { color: #88f; font-weight: bold }
#header-left a:before {
    background: url("favicon.svg") left/100% no-repeat;
    content: "";
    padding: 0 .6em;
    margin-right: .5em;
}


/* === Preset: raw === */

body.raw { margin: 0; padding: 0 }



/* === Misc === */

.lib_path_component { margin: auto .3em; }

/* Links */
a[href]:hover { background: blue; color: white; }

/* Iframe navigator */
#navframe { border: none; width: 100%; min-height: 400px }

/* Org mode */
.org-src-container { border: solid #888 1px; border-radius: 2px; padding: .5em .7em; background: #eee }
.org-src-container .src { margin: 0; padding: 0 }
